.table{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}
.table_title{
    font-size:  19px;
    margin-left: 10px;
    color: white;
    font-family: Arial, sans-serif;
}
.table:hover{
    background: #0b025e
}
.activeBorder {
    padding: 5px;
    border: 2px solid white;
    background: white;
    border-right: none;
    width: 100%;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    text-decoration: none;
}
.active_text{
    color: black;
}