.dashboard {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.card_img{
    background-size: contain;
    background-repeat: no-repeat;
}
.title {
    margin-left: 3rem;
}

.body {
    padding-top: 50px;
    width: 100%;
    height: 550px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*gap: 10px;*/
    column-gap: 10px;
    row-gap: 20px;
    overflow: auto;
    justify-content: space-around;
}
.body::-webkit-scrollbar {
    width: 7px !important;
}
.body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}
.body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}
.button{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 50px !important;
}
.card{
    cursor: pointer;
    width: 200px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 350px;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 1px rgba(0, 111, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.454);
}
.content{
    display: flex;
    align-items: end;
}
.bodyLeft {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyRight {
    display: flex;
    width: 60%;
    height: 80%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.footer {
    height:100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerLeft {
    width: 70%;
    height: 100%;
    /*background-color: rgb(87, 201, 163);*/
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerRight {
    width: 30%;
    height: 100%;
    /*background-color: rgb(115, 41, 201);*/
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.swiper {
    width: 70%;
    margin-left: 1px;
    margin-right: 1px;
}

.creditcard {
    width: 350px;
    height: 200px;
    background-image: url('https://plitkazavr.ru/images/Aparici/Area/Negro-Ornato-31.6x59.2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
}

.top {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.bottom {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
}

.topLeft {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
}

.topRight {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
}

.bottomLeft {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
}

.bottomRight {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
}

.miniLogo {
    background-image: url('../../../../images/miniLogo.png');
    background-size: cover;
    height: 100%;
    width: 60%;
}

.cards {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.right {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scrollableTable {
    width: 95%;
    height: 95%;
    max-height: 100%;
    overflow: auto;
}
.scrollToTop {
    display: inline-flex;
    justify-content: center;align-items: center;
    position: fixed;
    bottom: 6.5%;
    right: 5%;
    z-index: 1000;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: rgba(28, 166, 168, 0.75);
    color: #ffffff;
    font-size: 21px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.scrollToTop:hover{
    background-color: rgba(15, 118, 119, 0.75);
}

.scrollableTable::-webkit-scrollbar {
    width: 7px !important;
}
.scrollableTable::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}
.scrollableTable::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.scrollableTable::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}


.scrollableDiv::-webkit-scrollbar {
    width: 7px !important;
}
.scrollableDiv::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}
.scrollableDiv::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.scrollableDiv::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}
/* .balance{
    
}
.font_balance{

} */


