.card_img {
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card_description {
    overflow: auto;
    max-height: 200px;
}
.card_title {
    overflow: auto;
    max-height: 40px;
    font-size: 30px !important;
}
.card_title::-webkit-scrollbar {
    width: 7px !important;
}

.card_title::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

.card_title::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card_title::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}
.card_description::-webkit-scrollbar {
    width: 7px !important;
}

.card_description::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

.card_description::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card_description::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

.container_top {
    display: flex;
    justify-content: space-between;
}



.text {
    width: 45%;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_right {
    width: 50%;
    height: 100%;
}

.card_buttons {
    margin-top: 16px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons {
    font-size: 20px;
}

.modal_footer {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.container {

}

.modal {
    font-size: 30px;
    overflow: auto !important;
    max-height: 578px;
}

.modal::-webkit-scrollbar {
    width: 7px !important;
}

.modal::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

.modal::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 630px) {
    .container_top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container_right {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .text {
        width: 100%;
        height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 330px) {
    .card_img {
        width: 200px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}