.table {
    cursor: pointer;
}

.imageTitleContainer {
    height: 140px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.delete_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.quantity_component{
    display: flex;
    align-items: end;
    justify-content: center;
}

.right_basket {
    height: 140px;
    width: 100%;
    display: grid;
    grid-template-rows: 68% 32%;
}

.price_count {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    font-size: 20px;
}

.modal_antd {
    position: fixed;
    top: 20px;
    right: 20px;
}

.all_price {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.modal {
    overflow-y: auto !important;
    max-height: 300px;
}

.modal::-webkit-scrollbar {
    width: 7px !important;
}


/*.modal::-webkit-scrollbar-thumb {*/
/*    background: rgba(0, 0, 0, 0.2);*/
/*    border-radius: 10px;*/
/*}*/

.modal::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 560px) {
    .modal_antd {
        position: unset;
        top: unset;
        right: unset;
    }
}

@media screen and (max-width: 330px) {
    .price_count {
        width: 100px;

    }
}