.card_img{
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}
.container{


}
.container_top{
    display: flex;
    justify-content: space-between;
}
.card_title{
    font-size: 30px !important;
}
.modal{
    font-size: 30px;
}
.text{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container_right{
    width: 50%;
    height: 100%    ;
}