.transaction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: red;*/
    border-radius: 15px;
}
.header h2{
    font-size: 35px;
}
.body{
    height: 90%;
    width: 100%;
    /*background-color: aqua;*/
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transactionGrid{
    height: 90%;
    width: 90%;
    /*background-color: black;*/
    border-radius: 15px;
}
.headerRighte{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actionsColumn{
    width: 100px;
    white-space: nowrap;
}
.icons{
    cursor: pointer;
    font-size: 16px;
}
.action_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    justify-content: space-between;
}

.deleteContainer{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.redText{
    color: red;
}